@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double+Ink:wght@100..900&family=Bitcount+Prop+Single+Ink:wght,CRSV@100,1&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

.heading-font{
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  
  
  font-variation-settings:
    "wdth" 100;
}

.bitcount-single-ink {
  font-family: "Bitcount Prop Single Ink", system-ui;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 1,
    "ELSH" 0,
    "ELXP" 0,
    "SZP1" 0,
    "SZP2" 0,
    "XPN1" 0,
    "XPN2" 0,
    "YPN1" 0,
    "YPN2" 0;
}

.bitcount-double-ink {
  font-family: "Bitcount Grid Double Ink", system-ui;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0,
    "SZP1" 0,
    "SZP2" 0,
    "XPN1" 0,
    "XPN2" 0,
    "YPN1" 0,
    "YPN2" 0;
}


/* .scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; 
  scrollbar-width: none;
} */

/* index.css */
@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;    /* Firefox */
  }
  /* Chrome, Safari, Opera */
  .scrollbar-hide::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent;
  }
}


@property --border-angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}


@keyframes border-rotate {
  to {
    --border-angle: 360deg;
  }
}


.animate-rotate-border {
  animation: border-rotate 3s linear infinite;
}
